.cover{
  width:100%;
  height:100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
  text-align: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #000;
  background-image: url(./img/background.jpg);

  svg{
    g{
      fill:purple;
    }
  }

  img{
    width:100px;
  }

  &:after{
    content:'';
    display:block;
    width:100%;
    position: absolute;
    top:0;
    left:0;
    height:100vh;
    background-image: linear-gradient(to top, rgba(26, 40, 120, 0.7),rgba(10, 143, 196, 0.7));
  }
  .wrap{
    position: relative;
    z-index: 1;
  }

  .header {
    font-size: 68px;
    color: #fff;
    padding:24px 0;
    letter-spacing: 1px;
  }

  .decr{
    color: #fff;
    padding:15px 0 30px 0;
    font-size: 20px;
    line-height: 1.55;

  }
}
